<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uf.nomad.mobitrace">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- ******** -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Booter -->
        <receiver android:name=".booter.BootCompletedIntentReceiver">
            <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!--Monitor battery levels-->
        <receiver android:name=".PowerConnectionBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.ACTION_BATTERY_LOW" />
                <action android:name="android.intent.action.ACTION_BATTERY_OKAY" />
            </intent-filter>
        </receiver>
        <!---->
        <receiver android:name=".wifi.MyWifiBroadcastReceiver" />
        <!-- Location services switch -->


        <!-- Activities -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemListActivity"
            android:label="@string/title_item_list"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.uf.nomad.mobitrace.MainActivity" />
        </activity>
        <activity
            android:name=".ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.uf.nomad.mobitrace.ItemListActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.uf.nomad.mobitrace.MainActivity" />
        </activity>

        <!-- Services -->
        <service
            android:name=".MyGeoCoderIntentService"
            android:exported="false" />
        <service
            android:name=".activity.MyActivityRecognitionIntentService"
            android:exported="false" />
        <service
            android:name=".LocationUpdateService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".activity.ActivityRecognitionUpdateService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".wifi.WifiScanningService"
            android:enabled="true"
            android:exported="false"></service>
    </application>

</manifest>
